{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-only-tests", "solid", "eslint-comments"],
  "ignorePatterns": [
    "scripts/**",
    "**/node_modules/**",
    "packages/*/dist/**",
    "packages/*/dev/**",
    "**/*/__snapshots__/**"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-unnecessary-type-assertion": "warn",
    "@typescript-eslint/no-unnecessary-condition": "warn",
    "@typescript-eslint/no-useless-empty-export": "warn",
    "no-only-tests/no-only-tests": "warn",
    "eslint-comments/no-unused-enable": "warn"
  }
}
