html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
}

* {
  margin: 0;
}

/* prefers dark */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #fff;
  }
}

/* solid-transition-group */
.group-item {
  transition: all 0.5s;
}

.v-group-enter,
.v-group-exit-to {
  opacity: 0;
  transform: translateX(30px);
}
.v-group-exit-active {
  position: absolute;
}
